h2 {
    font-size: 30px;
    text-align:center;
    color:rgb(247, 246, 239);
    font-weight:900;
    
}
label,th,td {
    font-size: 15px;
    text-align:center;
    color:rgb(247, 246, 239);
    font-weight: 600;
    
}
P{
    font-size: 15px;
    text-align:center;
    color:black;
    font-weight: 600;
    
}
 option {
    font-size: 10px;
    text-align:center;
    color:rgb(247, 246, 239);
    font-weight: 400;
    
}
.container_t {
    background-color: #a59b92;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    
    
    
}

.container_2 {

    display: flex;
    flex-direction: column;
    padding: 32px 0;
    
}
.container {
    background-color: #6e5d4b;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    
    
}

datalist {
	position:static;
	display: flex;
	justify-content: space-between;
	height: auto;
	bottom: 15px;
	/* disable text selection */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */                
	user-select: none; /* Standard */
	/* disable click events */
	pointer-events:none;  
}