* {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: transparent;
    letter-spacing : 0.2em;
 }

h2 {
    font-size: 30px;
    text-align:center;
    color:rgb(247, 246, 239);
    font-weight:900;
    
}
label,th,td {
    font-size: 15px;
    text-align:center;
    color:rgb(247, 246, 239);
    font-weight: 600;
    
}
P{
    font-size: 15px;
    text-align:center;
    color:black;
    font-weight: 600;
    
}
 option {
    font-size: 10px;
    text-align:center;
    color:rgb(247, 246, 239);
    font-weight: 400;
    
}
.container_t {
    background-color: #a59b92;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    
    
    
}

.container_2 {

    display: flex;
    flex-direction: column;
    padding: 32px 0;
    
}
.container {
    background-color: #6e5d4b;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    
    
}

datalist {
	position:static;
	display: flex;
	justify-content: space-between;
	height: auto;
	bottom: 15px;
	/* disable text selection */
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */                
	user-select: none; /* Standard */
	/* disable click events */
	pointer-events:none;  
}

 header {
    padding: 30px 4% 10px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
 }
 h1 {
    margin: 0; padding: 0;
    font-size: 30px;
    color: transparent;
 }
 a {	
    text-decoration: none;
    color: #4b4b4b;
 }
 nav {
    margin: 0 0 0 auto;
    color: #fff;
 }
 ul {
    list-style: none;
    margin: 0;
    display: flex;
 }
 li {
    margin: 0 0 0 15px;
    font-size: 14px;
 }
 .main-visual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../static/image/coffee.jpg') top center / cover no-repeat;
 }
 h3 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    color: #4b4b4b;
 }
 h4 {
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
 }

 img{
    width:200px;
    height:100px;
    }

.m-mainVisual-arrow {
    background: url(../static/image/yajirusi.png) no-repeat;
    width: 22px;
    height: 13px;
    background-size: 22px 13px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}