<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>コーヒー豆推薦</title>
</head>
<body>
<h2>My favorite coffee</h2>

<form action="/index" method="POST">
  <label for="fname">Aroma:</label>
    <select name="Aroma">
        <option value = 5>強い</option>
        <option value = 4>少し強い</option>
        <option value = 3>普通</option>
        <option value = 2>少し弱い</option>
        <option value = 1>弱い</option>
    </select>

  <label for="fname">Flavor:</label>
    <select name="Flavor">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
  <label for="fname">Aftertaste:</label>
    <select name="Aftertaste" >
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
  <label for="fname">Acidity:</label>
    <select name="Acidity">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
  <label for="fname">Sweetness:</label>
    <select name="Sweetness">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    <input type="botton" value="豆を探す"onclick="nextPage()">
  <script>
      function nextPage(){
          location.href="top.html"
      }
  </script>
  
</form> 
<a href ="go_classification#index">
<!-- <form action="/index" method="POST">
  <input type="text" name="name" placeholder="Enter name">
  <input type="submit" value="Submit">
</form> -->

{% for been in res %}
<p>{{been}}</p>
{% endfor %}

</body>
</html>