<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>コーヒー豆推薦</title>
    <script src = "../static/main.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- bootstrap css-->
    <link rel="icon" href="../static/fig/coffee_Icon.ico">
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      *{
        font-family: 'Noto Sans JP', sans-serif;
      }
    </style>
    
  </head>


<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">My favorite coffee</a>
      <li><a href="#"><img src="../static/fig/coffee_Icon.ico" class="ui-li-icon"/></a> </li>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

<form action="/index" method="POST">
<div class="container_t">
  <div class="container">
  
    <h2>好きなコーヒー豆のタイプ</h2>
    <hr>
  <label for="fname">アロマ:</label>
    <select class=="Aroma" name= "Aroma" aria-label="Default select example">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option selected value = 3>普通</option>  
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
</div>
<div class="container">
  <label for="fname">フレーバー:</label>
    <select class="Flavor" name= "Flavor" aria-label="Default select example">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option selected value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
</div>
<div class="container">

  <label for="fname">後味:</label>
    <select class="Aftertaste" name="Aftertaste" aria-label="Default select example">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option selected value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
</div>
<div class="container">
  <label for="fname">酸味:</label>
    <select class="Acidity" name="Acidity" aria-label="Default select example">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option selected value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
</div>
<div class="container">
  <label for="fname">甘さ:</label>
    <select class="Sweetness" name="Sweetness" aria-label="Default select example">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option selected value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select> 
</div>
<div class="container">
  <label for="fname">深み:</label>
    <select class="Body" name="Body" aria-label="Default select example">
      <option value = 5>強い</option>
      <option value = 4>少し強い</option>
      <option selected value = 3>普通</option>
      <option value = 2>少し弱い</option>
      <option value = 1>弱い</option>
    </select>
</div>
  <button type="submit" class="btn btn-primary">豆を探す</button>
</form>

  <div class="container_2">
    <div  class="container_t">
      <h2>項目の説明</h2>
    </div>
    <div  class="container">
      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>項目</th>
          <th>意味</th>
          <th>English</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>アロマ</td>
          <td>香り</td>
          <td>Aroma</td>
        </tr>
        <tr>
        <td>2</td>
        <td>フレーバ</td>
          <td>味</td>
          <td>Flavor</td>
        </tr>
        <tr>
          <td>3</td>
          <td>後味</td>
          <td>飲んだ後に残る味</td>
          <td>Aftertaste</td>
        </tr>
        <tr>
          <td>4</td>
          <td>酸味</td>
          <td>コーヒー豆の酸度</td>
          <td>Acidity</td>
        </tr>
        <tr>
          <td>5</td>
          <td>甘さ</td>
          <td>コーヒー豆の糖度</td>
          <td>Sweetness </td>
        </tr>
        <tr>
          <td>6</td>
          <td>深み</td>
          <td>コーヒー豆の コクの度合い</td>
          <td>Body</td>
        </tr>
      </tbody>
    </table>
    </div>
    <hr>
    <p class="mb-0">HackU2021_B2B3B4連合 </p>
    </div>
<!--項目の説明，変更by eurus-->
<!-- https://mystyle.ucc.co.jp/magazine/a_1231/#:~:text=%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E8%B1%86%E3%81%8C%E3%81%9D%E3%81%AE%E4%B8%80%E7%94%9F,%E6%94%BE%E3%81%9F%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%A7%E3%81%99%E3%80%82 -->
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">アロマ</h5>
    <h6 class="card-subtitle mb-2 text-muted">Aroma</h6>
    <p class="card-text">コーヒー抽出後の液体の香り</p>
    <a href="https://mystyle.ucc.co.jp/magazine/a_1231/#:~:text=%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E8%B1%86%E3%81%8C%E3%81%9D%E3%81%AE%E4%B8%80%E7%94%9F,%E6%94%BE%E3%81%9F%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%A7%E3%81%99%E3%80%82" class="card-link">Know More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">フレーバ</h5>
    <h6 class="card-subtitle mb-2 text-muted">Flavor</h6>
    <p class="card-text">コーヒーを口に含んだ時の香り</p>
    <a href="https://mystyle.ucc.co.jp/magazine/a_1231/#:~:text=%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E8%B1%86%E3%81%8C%E3%81%9D%E3%81%AE%E4%B8%80%E7%94%9F,%E6%94%BE%E3%81%9F%E3%82%8C%E3%82%8B%E3%81%AE%E3%81%A7%E3%81%99%E3%80%82" class="card-link">Know More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">後味</h5>
    <h6 class="card-subtitle mb-2 text-muted">Aftertaste</h6>
    <p class="card-text">コーヒーを飲んだ後に残る味</p>
    
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">酸味</h5>
    <h6 class="card-subtitle mb-2 text-muted">Acidity</h6>
    <p class="card-text">コーヒー豆の酸度</p>
    
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">甘さ</h5>
    <h6 class="card-subtitle mb-2 text-muted">Sweetness</h6>
    <p class="card-text">コーヒー豆の糖度</p>
    <a href="https://daiohs.com/coffee/article/archives/263#:~:text=%E3%82%B3%E3%83%BC%E3%83%92%E3%83%BC%E3%81%AE%E7%94%98%E3%81%BF%E3%81%AF%E7%84%99,%E3%82%92%E8%A6%8B%E6%A5%B5%E3%82%81%E3%81%A6%E4%BB%95%E4%B8%8A%E3%81%92%E3%81%BE%E3%81%99%E3%80%82" class="card-link">Know More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">深み</h5>
    <h6 class="card-subtitle mb-2 text-muted">Body</h6>
    <p class="card-text">コーヒー豆の濃度</p>
  </div>
</div>

<!-- <a href ="go_classification#index"> -->
<!-- <form action="/index" method="POST">
  <input type="text" name="name" placeholder="Enter name">
  <input type="submit" value="Submit">
</form> -->




</body>
</html>