<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>コーヒー豆推薦</title>
    <script src = "../static/main.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- bootstrap css-->
    <link rel="icon" href="../static/fig/coffee_Icon.ico">
    <link rel="stylesheet" href="../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <style>
      *{
        font-family: 'Noto Sans JP', sans-serif;
      }
    </style>
    
  </head>


<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">My favorite coffee</a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

<form action="/index" method="POST">
<div class="container_t">
  <div class="container">
    <h2>好きなコーヒー豆のタイプ</h2>
    <hr>
  <label for="fname">アロマ:</label>
  <input type="range"class=="Aroma" name= "Aroma" max="5" min="1" step="1" list="ticks">
  <datalist id="ticks" class=="Aroma" name= "Aroma">
      <option value=5>強い</option>
      <option value=4>少し強い</option>
      <option value=3>普通</option>
      <option value=2>少し弱い</option>   
      <option value=1>弱い</option>
  </datalist>
    
    
  </div>
<div class="container">
  <label for="fname">フレーバー:</label>
  <input type="range"class=="Flavor" name= "Flavor" max="5" min="1" step="1" list="ticks">
  <datalist id="ticks" class=="Flavor" name= "Flavor">
      <option value=5>強い</option>
      <option value=4>少し強い</option>
      <option value=3>普通</option>
      <option value=2>少し弱い</option>   
      <option value=1>弱い</option>
  </datalist>
</div>
<div class="container">
  <label for="fname">後味:</label>
  <input type="range"class=="Aftertaste" name= "Aftertaste" max="5" min="1" step="1" list="ticks">
  <datalist id="ticks" class=="Aftertaste" name= "Aftertaste">
      <option value=5>強い</option>
      <option value=4>少し強い</option>
      <option value=3>普通</option>
      <option value=2>少し弱い</option>   
      <option value=1>弱い</option>
  </datalist>
</div>
<div class="container">
  <label for="fname">酸味:</label>
  <input type="range"class=="Acidity" name= "Acidity" max="5" min="1" step="1" list="ticks">
  <datalist id="ticks" class=="Acidity" name= "Acidity">
      <option value=5>強い</option>
      <option value=4>少し強い</option>
      <option value=3>普通</option>
      <option value=2>少し弱い</option>   
      <option value=1>弱い</option>
  </datalist>
</div>
<div class="container">
  <label for="fname">甘さ:</label>
  <input type="range"class=="Sweetness" name= "Sweetness" max="5" min="1" step="1" list="ticks">
  <datalist id="ticks" class=="Sweetness" name= "Sweetness">
      <option value=5>強い</option>
      <option value=4>少し強い</option>
      <option value=3>普通</option>
      <option value=2>少し弱い</option>   
      <option value=1>弱い</option>
  </datalist>
</div>
<div class="container">
  <label for="fname">深み:</label>
  <input type="range"class=="Body" name= "Body" max="5" min="1" step="1" list="ticks">
  <datalist id="ticks" class=="Body" name= "Body">
      <option value=5>強い</option>
      <option value=4>少し強い</option>
      <option value=3>普通</option>
      <option value=2>少し弱い</option>   
      <option value=1>弱い</option>
  </datalist>
</div>
  <button type="submit" class="btn btn-secondary">豆を探す</button>
</form>

  <div class="container_2">
    <div  class="container_t">
      <h2>項目の説明</h2>
    </div>
    <div  class="container">
      <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>項目</th>
          <th>意味</th>
          <th>English</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>アロマ</td>
          <td>香り</td>
          <td>Aroma</td>
        </tr>
        <tr>
        <td>2</td>
        <td>フレーバ</td>
          <td>味</td>
          <td>Flavor</td>
        </tr>
        <tr>
          <td>3</td>
          <td>後味</td>
          <td>飲んだ後に残る味</td>
          <td>Aftertaste</td>
        </tr>
        <tr>
          <td>4</td>
          <td>酸味</td>
          <td>コーヒー豆の酸度</td>
          <td>Acidity</td>
        </tr>
        <tr>
          <td>5</td>
          <td>甘さ</td>
          <td>コーヒー豆の糖度</td>
          <td>Sweetness</td>
        </tr>
        <tr>
          <td>6</td>
          <td>深み</td>
          <td>コーヒー豆のコクの度合い</td>
          <td>Body</td>
        </tr>
      </tbody>
    </table>
    </div>
    <hr>
    <p class="mb-0">HackU2021_B2B3B4連合 </p>
    </div>
  


<!-- <a href ="go_classification#index"> -->
<!-- <form action="/index" method="POST">
  <input type="text" name="name" placeholder="Enter name">
  <input type="submit" value="Submit">
</form> -->




</body>
</html>